body{
  background-color:  rgb(0, 247, 255);
}
input{
  height: 35px;
  padding: 15px 25px;
  margin-bottom:5px;
  padding: 20;
  color: #fff;
width: 85%;
  background-color:rgb(72, 184, 159);
  border-radius: 10px;
}
.leftdiv 
         { 
           background-color:  rgb(0, 247, 255);
        height: 95vh;
         float: left; 
         padding : 1%; 
         color: white; 
         width: 48%; 
         border: solid black; 
         } 
button {
          float:right;
          display: inline-block;
          padding: 15px 25px;
          font-size: 15px;
          cursor: pointer;
          text-align: center;
          outline: none;
          color: #fff;
          background-color:rgb(12, 106, 109);
          border: none;
          border-radius: 15px;
        }
.rightdiv 
         { 
          background-color : rgb(0, 247, 255);

        height: 95vh;

         float: right; 
         padding : 1%; 
         color: white; 
         width: 47%; 
      
         border: solid black; 
         } 